    .list {
      font-family:sans-serif;
      margin:0;
      padding:20px 0 0;
    }
    .list > li {
      display:block;
      background-color: #eee;
      padding:10px;
      box-shadow: inset 0 1px 0 #fff;
    }
    .avatar {
      max-width: 150px;
    }
    img {
      max-width: 100%;
    }
    h3 {
      font-size: 16px;
      margin:0 0 0.3rem;
      font-weight: normal;
      font-weight:bold;
    }
    p {
      margin:0;
    }

    input {
      border:solid 1px #ccc;
      border-radius: 5px;
      padding:7px 14px;
      margin-bottom:10px
    }
    input:focus {
      outline:none;
      border-color:#aaa;
    }
    .sort {
      padding:8px 30px;
      border-radius: 6px;
      border:none;
      display:inline-block;
      color:#fff;
      text-decoration: none;
      background-color: #28a8e0;
      height:30px;
    }
    .sort:hover {
      text-decoration: none;
      background-color:#1b8aba;
    }
    .sort:focus {
      outline:none;
    }
    .sort:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      content:"";
      position: relative;
      top:-10px;
      right:-5px;
    }
    .sort.asc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      content:"";
      position: relative;
      top:13px;
      right:-5px;
    }
    .sort.desc:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
      content:"";
      position: relative;
      top:-10px;
      right:-5px;
    }

    .pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0;
      list-style: none
    }

    .page-link,
    #pgr a {
      cursor: pointer;
      position: relative;
      display: block;
      color: #00a1df;
      background-color: #fff;
      border: 1px solid #dee2e6;
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
    }

    @media (prefers-reduced-motion: reduce) {

      .page-link,
      #pgr a {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
      }
    }

    .page-link:hover,
    #pgr a:hover {
      z-index: 2;
      color: #495057;
      background-color: #e9ecef;
      border-color: #dee2e6
    }

    .page-link:focus,
    #pgr a:focus {
      z-index: 3;
      color: #495057;
      background-color: #e9ecef;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none
    }

    .page-item:not(:first-child) .page-link,
    .page-item:not(:first-child) #pgr a,
    #pgr .page-item:not(:first-child) a {
      margin-left: -1px
    }

    .page-item.active .page-link,
    .page-item.active #pgr a,
    #pgr .page-item.active a {
      z-index: 3;
      color: #fff;
      background-color: #00a1df;
      border-color: #00a1df
    }

    .page-item.disabled .page-link,
    .page-item.disabled #pgr a,
    #pgr .page-item.disabled a {
      color: #6c757d;
      pointer-events: none;
      background-color: #fff;
      border-color: #dee2e6
    }

    .page-link,
    #pgr a {
      padding: .375rem .75rem
    }

    .pagination-lg .page-link,
    .pagination-lg #pgr a,
    #pgr .pagination-lg a {
      padding: .75rem 1.5rem;
      font-size: 1.25rem
    }

    .pagination-sm .page-link,
    .pagination-sm #pgr a,
    #pgr .pagination-sm a {
      padding: .25rem .5rem;
      font-size: .875rem
    }